:root {
    --background-color: linear-gradient(#87ceeb, #eee);
    --primary-color: #112434;
    --secondary-color: #fff;
    --stars-display: none;
    --text-color: #000;
}
.dark-theme {
    --background-color: linear-gradient(#000, #2b1055);
    --primary-color: #fff;
    --secondary-color: #112434;
    --stars-display: none;
    --fireflies-display: none;
    --text-color: #fff;
}
.dark-theme.star {
    --background-color: linear-gradient(#000, #2b1055);
    --primary-color: #fff;
    --secondary-color: #112434;
    --stars-display: block;
    --fireflies-display: none;
    --text-color: #fff;
}
.dark-theme.star.fireflies {
    --background-color: linear-gradient(#000, #2b1055);
    --primary-color: #fff;
    --secondary-color: #112434;
    --stars-display: block;
    --fireflies-display: block;
    --text-color: #fff;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section#content #bg {
    height: 100%;
    width: 100%;
    background: var(--background-color);
    background-size: cover;
    position: absolute;
    z-index: -99;
    opacity: 100%;
}
@keyframes bgcolor {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
section#content #cover {
    height: 100%;
    width: 100%;
    background: #bbb;
    background-size: cover;
    position: absolute;
    z-index: 98;
    opacity: 100%;
}
@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

img {
    position: absolute;
    width: 100%;
}

#tree {
    z-index: 1;
}
#leaves {
    z-index: 2;
    animation: leavesA 5s ease-in-out infinite;
}
@keyframes leavesA {
    0% {
        transform: rotate(-0.7deg);
    }
    50% {
        transform: rotate(0.7deg);
    }
    100% {
        transform: rotate(-0.7deg);
    }
}
#grass {
    animation: grassA 5s ease-in-out infinite;
    width: 105%;
    left: -2.5%;
    top: -4%;
    z-index: 2;
}
@keyframes grassA {
    0% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-3px);
    }
}
img#flowerR {
    transform-origin: bottom right;
    z-index: 3;
    animation: flowerA 5s ease-in-out infinite;
}
img#flowerL {
    transform-origin: bottom left;
    z-index: 3;
    animation: flowerA 5s ease-in-out infinite;
}
@keyframes flowerA {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.content star {
    display: var(--stars-display);
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: twinkle linear infinite;
}
@keyframes twinkle {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
#fireflies {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    z-index: 99;
    opacity: 0%;
}
#fireflies fireflies {
    display: var(--stars-display);
    position: absolute;
    background: yellow;
    border-radius: 50%;
    animation: fly linear infinite;
}
@keyframes fly {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    10%,
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}
#wrapDayNight {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 5vh;
    left: 5vh;
}
.wrapper .daynight {
    width: 50px;
    height: 150vh;
    position: relative;
    transition: 1s;
    z-index: 4;
}
.daynight #sun {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 25px rgba(255, 255, 0, 0.5);
    position: absolute;
    top: 0;
    cursor: pointer;
}
.daynight #moon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 25px rgba(86, 96, 190, 0.5);
    position: absolute;
    bottom: -0px;
    cursor: pointer;
}

.shootingStar {
    display: none;
}
.shootingStar span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1) 0 0 20px rgba(255, 255, 255, 1);
    animation: shoot 3s linear infinite;
}
#shootingStar.one span {
    animation: shoot 3s linear;
}
#shootingStar.none span {
    animation: none;
}
.shootingStar span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes shoot {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.shootingStar span:nth-child(1) {
    top: 0;
    right: -10px;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
.shootingStar span:nth-child(2) {
    top: 0;
    right: -80px;
    left: initial;
    animation-delay: -0.2;
    animation-duration: 3s;
}
.shootingStar span:nth-child(3) {
    top: -10px;
    right: 100px;
    left: initial;
    animation-delay: -0.4;
    animation-duration: 2s;
}
.shootingStar span:nth-child(4) {
    bottom: 100px;
    right: -60px;
    left: initial;
    animation-delay: -0.7;
    animation-duration: 4s;
}

span#text {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    z-index: 99;
    color: var(--text-color);
    text-align: center;
    /* font-family: cursive; */
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
span#magic {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 99;
    color: var(--text-color);
    text-align: center;
    font-family: cursive;
    display: none;
}

#btnWrap {
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 35%;
    gap: 10px;
    position: absolute;
    z-index: 99;
    display: none;
}
#btnWrap button {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    box-shadow: none;
}
.gam{
    position:absolute;
    z-index:100;
    left:50%;top:50%;
    transform:translate(-50%,-50%);
    width:40vw;
    border:#fff 5px solid;
    display:none
}